h1{
    color:#FF00FF
}
li{
    color: #000090
}
body{
    background-color: #FFFF00;
}
.menue{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.origami{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: #FF9000;
    border-radius: 0px;
    background-color: #fff350
    width: auto;
    padding-right: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 1500px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}